/*------------------CSS CARRITO----------------------*/

.btn-carrito {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
}

.card-imagen {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.gy-5 .menu-item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.gy-5 .menu-item .img-fluid {
    padding: 2rem;
}


.total{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-right: 4rem;

}

.total-price {
    margin-left: 0.5rem;

}

.cart-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 10% 20%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.counter-products{
    background-color: red;
    color: white;
    border-radius: 100%;
    font-size: 0.6rem;
    padding: 20%;
    text-align: center;
    
}

.menu-item {
    padding-bottom: 1rem;
}
